.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.button-buy{
    background-image: linear-gradient(to bottom,#FF589B 0%, #FF136F 100%);
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.imtext{
    padding: 10px 30px;
}
.cat1, .cat2, .cat3{
    background-image: linear-gradient(to right, rgb(105, 105, 35) 40%, rgb(207, 207, 13) 100%);
    padding: 10px 30px;
    border-radius: 10px ;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 6px 5px 10px lightgrey;
    border-radius: 10px;
}
#subscribe{
    height: 150px;
}
#subscribe h6{
    color: grey;
}